<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/nav") %>
    <header class="comment-idx-header">
            <div class="first-box">
                <div class="header-txt">
                    <h1 class="title">Post show</h1>
                </div>
            </div>        
        </header>
    <main class="comment-edit-main">
        <div class="card w-75 post-card">
            <div class="card-header">
                <h5 class="card-title">Post: <%= comment.post.title %></h5>
            </div>
            <div class="card-body user-card-body">
                <p class="card-text"><%= comment.post.text %><</p>
                <p class="card-text auth-text"><i class="fas fa-user-circle"></i><%= comment.author.username %> at <%= postDate %></p>
            </div>
        </div>
        <form class="comment-edit-form" action="/comments/<%= comment.id %>?_method=PUT" method="post">
            <input class="comment-edit-input" type="text" name="text" value="<%= comment.text %>"><br />
            <div class="comment-submit-container">
                <input class="comment-submit" type="submit" value="Submit"><br />
            </div>
        </form>
    </main>
    <%- include("./partials/bootstrap") %>
    <footer></footer>
</body>
</html>