<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <main>
        <section>
            <h2><%= comment.post.title %></h2>
            <p><%= comment.post.text %></p>
        </section>
        <section>
            <form action="/comments/<%= comment.id %>?_method=PUT" method="post">
                Text: <input type="text" name="text" value="<%= comment.text %>"><br />
                <input type="submit" value="Submit"><br />
            </form>
        </section>
        <a href="/posts">Back</a>
    </main>
</body>
</html>