<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <section>
            <h2><%= comment.post.title %></h2>
            <p><%= comment.post.text %></p>
        </section>
        <section>
            <p><%= comment.text %></p>
            <p><%= comment.createdAt %> : <%= comment.author.username %></p>
        </section>
        <a href="/comments/<%=comment.id%>/edit">Edit</a>
        <a href="/posts/<%=postId%>">Back</a>
    </main>
</body>
</html>