<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <section>
            <% for (post of comment.post) { %>
                <h2><%= post.title %></h2>
                <p><%= post.text %></p>
            <% } %>
        </section>
        <section>
            <p><%= comment.text %></p>
            <% for (author of comment.author) { %>
                <p><%=comment.createdAt %> : <%= author.username %></p>
            <% } %>
        </section>
        <a href="/posts/<%=postId%>">Back</a>
    </main>
</body>
</html>