<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <header class="post-idx-header">
        <div class="header-txt">
            <h1 class="title"><%= user.username %></h1>
        </div>
    </header>
    <main class="user-show-main">
        <a href="/posts">Back</a>
        <h1 class="user-show-title">Your posts:</h1>
        <section class="user-container">
            <% for (post of posts) { %>   
            <div class="card w-50">
                <div class="card-body user-card-body">
                    <a href="/posts/<%=post.id%>"><h5 class="card-title"><%= post.title %></h5></a>
                    <p class="card-text"><%= post.text %></p>
                </div>
            </div>
            <% } %>
        </section>
        <h1 class="user-show-title">Your comments:</h1>
        <section class="user-container">
            <% for (comment of comments) { %>   
            <div class="card w-50">
                <div class="card-body user-card-body">
                    <a href="/posts/<%=comment.postId %>"><h5 class="card-title">Post: <%= comment.postTitle %></h5></a>
                    <p class="card-text"><%= comment.text %></p>
                </div>
            </div>
            <% } %>
        </section>
    </main>
    <footer></footer>
</body>
</html>