<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <header class="post-idx-header">
        <div class="header-txt">
            <h1 class="title">Peculiarity Productions</h1>
            <p>Edit post</p>
        </div>
    </header>
    <main class="post-edit-main">
        <div class="card post-card comm-card">
            <div class="card-header">
                <h5 class="card-title"><%= post.title %></h5>
            </div>
            <div class="card-body">
                <p class="card-text"><%= post.text %></p>
                <p class="post-author"><i class="fas fa-user-circle"></i><%= post.author.username %> at <%= postDate %></p>
            </div>
        </div> 
        <form class="post-edit-form" action="/posts/<%= post.id %>?_method=PUT" method="post">
            <input class="post-edit-input" type="text" name="title" value="<%= post.title %>"><br />
            <input class="post-edit-input" type="text-area" name="text" value="<%= post.text %>"><br />
            <div class="post-submit-container">
                <input class="post-submit" type="submit" value="Submit"><br />
            </div>
        </form>
        <a href="/posts">Back</a>
    </main>
    <footer></footer>
</body>
</html>