<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <header class="post-idx-header">
        <div class="header-txt">
            <h1 class="title">Peculiarity Productions</h1>
            <p>Message board</p>
        </div>
    </header>
    <main class="post-index-main">
        <section class="add-post-section">
            <h3 class="add-header">Add a post</h3>
            <form class="add-form" action="/posts" method="post">
                <input class="add-input" type="text" name="title" placeholder="Title">
                <input class="add-input post-text" type="text-area" name="text" placeholder="Post away!">
                <div class="add-submit-flex">
                    <input class="add-submit add-input" type="submit" value="Submit">
                </div>
            </form>
        </section>
        <section class="post-container">
         <% for (post of posts) { %>
            <div class="card post-card">
                <div class="card-header">
                    <h5 class="card-title"><%= post.title %></h5>
                </div>
                <div class="card-body">
                    <p class="card-text"><%= post.text %></p>
                    <p class="post-author"><i class="fas fa-user-circle"></i><%= post.author %> on <%= post.date %></p>
                    <a href="/posts/<%= post.id %>" class="post-comments"><i class="fas fa-comments"></i></a>
                </div>
            </div> 
        <% } %>
        </section>
        <a href="/user/logout">Log out</a>
    </main>
    <footer></footer>
</body>
</html>