<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/nav") %>
    <header class="post-idx-header">
        <div class="first-box">
            <div class="header-txt">
                <h1 class="title">Message Board</h1>
            </div>
        </div>        
    </header>
    <main class="post-index-main">
        <section class="add-post-section">
            <h3 class="add-header">Add a post</h3>
            <form class="add-form" action="/posts" method="post">
                <input class="add-input add-title" type="text" name="title" placeholder="Title" />
                <textarea class="add-input add-txt" name="text" placeholder="Post away!"></textarea>
                <div class="add-submit-flex">
                    <input class="login-input login-submit add-submit" type="submit" value="Add" />
                </div>
            </form>
        </section>
        <section class="post-container">
         <% for (post of posts) { %>
            <div class="card w-75 post-card">
                <div class="card-header">
                    <h5 class="card-title"><%= post.title %></h5>
                </div>
                <div class="card-body user-card-body">
                    <p class="card-text"><%= post.text %></p>
                    <p class="card-text auth-text"><i class="fas fa-user-circle"></i><%= post.author %> on <%= post.date %></p>
                    <a href="/posts/<%= post.id %>" class="card-link"><i class="fas fa-comments comm-icon"></i></a>
                </div>
            </div>
        <% } %>
        </section>
    </main>
    <%- include("../partials/bootstrap") %>
    <footer></footer>
</body>
</html>