<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <header class="post-idx-header">
        <div class="header-txt">
            <h1 class="title">Peculiarity Productions</h1>
        </div>
    </header>
    <main class="post-show-main">
        <a href="/posts">Back</a>
        <section class="post-container post-show-container">
            <div class="card post-card-show">
                <div class="card-header">
                    <h5 class="card-title"><%= post.title %></h5>
                </div>
                <div class="card-body">
                    <p class="card-text"><%= post.text %></p>
                    <p class="post-author"><i class="fas fa-user-circle"></i><%= post.author.username %> on <%= postDate %></p>
                    <div class="post-icon-box">
                        <% if (currentUser == post.author.id) { %>
                        <form action="/posts/<%= post.id %>?_method=DELETE" method="post">
                            <button class="delete-btn" type="submit" value=""><i class="fas fa-trash post-del"></i></button>
                        </form>
                        <a href="/posts/<%= post.id %>/edit"><i class="fas fa-edit post-edit"></i></a>
                        <% } %>
                    </div>
                </div>
            </div>
        </section>
        <section class="post-container comment-show-container">
        <% for (comment of comments) { %>   
            <div class="card comment-card">
                <div class="card-body">
                    <p class="card-text"><%= comment.text %></p>
                    <p class="card-text comment-time"><i class="fas fa-user-circle"></i><%= comment.author %> at <%= comment.date %></p>
                    <div class="post-icon-box">
                        <p><%=comment.authorId %></p>
                        <% if (currentUser == comment.authID) { %>
                        <form action="/comments/<%= comment.id %>?_method=DELETE" method="post">
                            <button class="delete-btn" type="submit" value=""><i class="fas fa-trash post-del"></i></button>
                        </form>
                        <a href="/comments/<%= comment.id %>/edit"><i class="fas fa-edit post-edit"></i></a>
                        <% } %>
                    </div> 
                </div>
            </div>
        <% } %>
        </section>
        <form class="add-comment-form" action="/comments/<%= post.id%>" method="post">
            <button class="add" type="submit"><i class="fas fa-plus-circle"></i></button><br />
            <input class="add-input" type="textarea" name="text" placeholder="Add comment"><br />
        </form>
    </main>
    <footer></footer>
</body>
</html>