<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1><%= post.title %></h1>
        <p><%= post.text %></p>
        <% for (author of post.author) { %>
            <p>Created by: <%= author.username %> at <%= post.createdAt %></p>
        <% } %>

        <form action="/posts/<%= post.id %>?_method=DELETE" method="post">
            <input type="submit" value="Delete">
        </form>
        <a href="/posts">Back</a>
        <a href="/posts/<%= post.id %>/edit">Edit</a>
    </main>
    <section>
        <h2>Comments:</h2>
        <% for (comment of post.comments) { %>
            <p><%= comment.text %></p>
        <% } %>
        <h3>Add comment:</h3>
        <form action="/comments/<%= post.id%>" method="post">
            <input type="textarea" name="text" placeholder="What do you want to say?"><br />
            <input type="submit" value="Submit"><br />
        </form>
    </section>
</body>
</html>